@font-face{
  font-family: 'Quicksand';
  src: url('../webfonts/quicksand.ttf')
}

@font-face{
  font-family: 'Pacifico';
  src: url('../webfonts/pacifico.ttf')
}

button:focus {
  border: 0;
  outline: none;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.brand {
  font-family: 'Pacifico', cursive;
}
